<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.4/phpunit.xsd"
         forceCoversAnnotation="false"
         verbose="true">
    <testsuite name="Unit">
        <directory>tests</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>